<div class="nav-container">
  <div class="navbar">
    <div class="img-div">
      <img
        src="../../../assets/logo-white.png"
        alt=""
        width="200px"
        height="80px"
      />
    </div>
    <div class="heading" routerLink="/compounds" [queryParams]="{ page: 1 }">
      Compounds App
    </div>
    <div class="right" (click)="showModalSerice.showModal = true">
      <div>
        <img src="../../../assets/add.png" height="25px" width="25px" />New
        Compound
      </div>
    </div>
  </div>
</div>
