.nav-container {
  width: 100%;
  box-sizing: border-box;
  background-color: black;
}
.navbar {
  display: flex;
  width: 90%;
  margin: auto;
  color: white;
  display: flex;
  align-items: center;
}
.img-div {
  flex-grow: 1;
}
.right {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}
.right > div {
  padding: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #28b81d;
  color: white;
  border-radius: 5px;
}
.right img {
  margin-right: 5px;
}
.heading {
  cursor: pointer;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  margin: auto;
  flex-grow: 1;
}
