@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  padding: 0px;
  margin: 0px;
  font-family: -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Inter", "Helvetica Neue",
    sans-serif;
}
body {
  background-color: #e5e7ea;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #cfd8dc;
}

*::-webkit-scrollbar-thumb {
  background-color: #90a4ae;
  border-radius: 20px;
  border: 3px solid #cfd8dc;
}
