* {
  padding: 0px;
  margin: 0px;
}
body {
  background-color: #e5e7ea;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #cfd8dc;
}

*::-webkit-scrollbar-thumb {
  background-color: #90a4ae;
  border-radius: 20px;
  border: 3px solid #cfd8dc;
}
